.sidebar {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex: 0.35;
  height: 100vh;
  padding: 10px;
}
.sidebar__input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  color: gray;
  border-radius: 5px;
}
.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar_avatar {
  cursor: pointer;
  margin-right: 10px;
}
.sidebar__input > input {
  outline: none;
  border: none;
  background-color: transparent;
  color: #000000;
}
.sidebar__chats {
  overflow: scroll;
}
.sidebar__chats::-webkit-scrollbar {
  display: none;
}
